[Unit]
Description=Run Btrfs autosnapshot sweep every thirty minutes

[Timer]
OnBootSec=10min
OnUnitActiveSec=30min
RandomizedDelaySec=2min
Unit=btrfs-autosnapshot.service
Persistent=true

[Install]
WantedBy=timers.target
