[Unit]
Description=Run Btrfs autosnapshot sweep every five minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Unit=btrfs-autosnapshot.service
Persistent=true

[Install]
WantedBy=timers.target
